.w3-btn {
    margin-right: 5px;
    margin-top: 10px;
    width: 42px;
}

#cal-container, #cal-history {
    float: left;
    padding: 8px;
    margin: 10px;
}

#cal-container {
    border: solid;
}

#inputBox input {
    width: 183px;
}